.navbar {
    font-size: 2.5vh;
    width: 100%;
}

.menu-list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    background: black;
    color: white;
}

.list-item {
    display: block;
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 10px;
}

.list-item:hover,
.item-active {
    background-color: darkblue;
}

.sect {
    display: flex;
    font-size: 4vh;
    width: 100%;
    height: 100vh;
    background-color: red;
    margin: 0 0 5px 0;
    /* NOTE: Retire esta linha quando terminar cada section */
}

.sect-about,
.sect-services,
.sect-whoareus,
.sect-freetest {
    flex-direction: column;
}

.sect-title {
    font-size: 6vh;
    align-self: center;
    margin: 10px 0 0 0;
}

.sect-about {
    align-items: center;
}

.about-content {
    margin: 0 20vw;
}

.services-list {
    width: 98%;
    height: 100%;
    background-color: purple;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.item-service {
    width: 400px;
    height: 90%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.is-title,
.is-content {
    margin: 5px;
}

.slider {
    max-height: 450px;
}


/* teste */

/* navbar*/

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }

  /* Login Modal */
.modal-fade {
    font-family: 'Varela Round', sans-serif;
}
.modal-login {
    color: #636363;
    width: 350px;
}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
}
.modal-login  .form-group {
    position: relative;
}
.modal-login i {
    position: absolute;
    left: 13px;
    top: 11px;
    font-size: 18px;
}
.modal-login .form-control {
    padding-left: 40px;
}
.modal-login .form-control:focus {
    border-color: #00ce81;
}
.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px; 
}
.modal-login .hint-text {
    text-align: center;
    padding-top: 10px;
}
.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-login .btn {
    background: #00ce81;
    border: none;
    line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    background: #00bf78;
}
.modal-login .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
    justify-content: center;
}
.modal-login .modal-footer a {
    color: #999;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}